.center {
  position: relative;
  top: 100px;
  width: 1090px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.center > .cart_content > .cart_th {
  display: flex;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: 1px solid #ddd;
}
.center > .cart_content > .cart_th > div:first-child {
  width: 138px;
  display: flex;
  align-items: center;
}
.center > .cart_content > .cart_th > div:first-child > input {
  width: 18px;
  height: 18px;
  border-radius: 0px;
  background-image: url("/public/img/input_icon.webp");
  display: block;
  -webkit-appearance: none;
  background-position: 0 -56px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.center > .cart_content > .cart_th > div:first-child > input.show{

  background-position: 0 0px;

}
.center > .cart_content > .cart_th > div:first-child span {
  margin-left: 15px;
}
.center > .cart_content > .cart_th > div:nth-child(2) {
  width: 290px;
  text-align: left;
}
.center > .cart_content > .cart_th > div:nth-child(3),
.center > .cart_content > .cart_th :nth-child(4) {
  width: 180px;
}
.center > .cart_content > .cart_th > div:nth-child(5),
.center > .cart_content > .cart_th :nth-child(6) {
  width: 150px;
}
.center > .cart_content > .cart_tb {
  margin-top: 20px;
  display: flex;
  height: 140px;
  padding: 20px 0;
  align-items: center;
  background-color: #f5f3ef;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ddd;
}
.center > .cart_content > .cart_tb > div:first-child > input {
  width: 18px;
  height: 18px;
  border-radius: 0px;
  background-image: url("/public/img/input_icon.webp");
  display: block;
  -webkit-appearance: none;
  background-position: 0 -56px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.center > .cart_content > .cart_tb > div:first-child > input.show{
  background-position: 0 0px;
}
.center > .cart_content > .cart_tb > div:nth-child(2) {
  width: 378px;
  display: flex;
  margin-left: 14px;
}
.center > .cart_content > .cart_tb > div:nth-child(2) img {
  width: 98px;
  height: 98px;
  display: block;
  border: 1px solid #ddd;
}
.center > .cart_content > .cart_tb > div:nth-child(2) > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.center > .cart_content > .cart_tb > div:nth-child(2) > div > div {
  text-align: left;
  padding: 5px 0;
}
.center > .cart_content > .cart_tb > div:nth-child(2) > div > div span {
  font-size: 12px;
  color: #999;
}
.center > .cart_content > .cart_tb > div:nth-child(3) {
  width: 180px;
}
.center > .cart_content > .cart_tb > div:nth-child(4) {
  width: 180px;
  padding: 0 36px;
  box-sizing: border-box;
}
.center > .cart_content > .cart_tb > div:nth-child(4) > div {
  display: flex;
  width: 108px;
  border: 1px solid #999;
  background-color: #fff;
}
.center > .cart_content > .cart_tb > div:nth-child(4) > div > span:first-child {
  width: 24px;
  height: 24px;
  border-right: 1px #999 solid;
  line-height: 24px;
  user-select: none;
}
.center > .cart_content > .cart_tb > div:nth-child(4) > div > span:last-child {
  width: 24px;
  height: 24px;
  border-left: 1px #999 solid;
  line-height: 24px;
  user-select: none;
}
.center > .cart_content > .cart_tb > div:nth-child(4) > div > input {
  text-align: center;
  border: none;
  outline: none;
  width: 58px;
}
.center > .cart_content > .cart_tb > :nth-child(5) {
  width: 150px;
  color: #d4282d;
}
.center > .cart_content > .cart_tb > :nth-child(6) {
  width: 150px;
}
.center > .cart_content > .cart_tb > :nth-child(6) > div {
  box-sizing: border-box;
  padding: 5px 0;
  user-select: none;
}
.center > .cart_content > .cart_tf {
  margin-top: 20px;
  display: flex;
  height: 70px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ddd;
  justify-content: space-between;
}
.center > .cart_content > .cart_tf .tf_left {
  width: 280px;
  display: flex;
}
.center > .cart_content > .cart_tf .tf_left > div:first-child {
  display: flex;
}
.center > .cart_content > .cart_tf .tf_left > div:first-child > input {
  width: 18px;
  height: 18px;
  border-radius: 0px;
  background-image: url("/public/img/input_icon.webp");
  display: block;
  -webkit-appearance: none;
  background-position: 0 -56px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.center > .cart_content > .cart_tf .tf_left > div:first-child > input.show{
  background-position: 0 0px;
}
.center > .cart_content > .cart_tf .tf_left > div:first-child > span {
  margin-left: 14px;
}
.center > .cart_content > .cart_tf .tf_left > div:nth-child(2),
.center > .cart_content > .cart_tf .tf_left :nth-child(3) {
  margin-left: 30px;
}
.center > .cart_content > .cart_tf .tf_right {
  width: 590px;
  display: flex;
  align-items: center;
}
.center > .cart_content > .cart_tf .tf_right > div:first-child {
  width: 230px;
  height: 50px;
  color: #999999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #ddd;
}
.center > .cart_content > .cart_tf .tf_right > div:first-child > div {
  box-sizing: border-box;
  padding: 5px 30px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.center > .cart_content > .cart_tf .tf_right > div:nth-child(2) {
  width: 220px;
}
.center > .cart_content > .cart_tf .tf_right > div:nth-child(2) > span:last-child {
  font-size: 22px;
  font-weight: bold;
  color: #be4141;
}
.center > .cart_content > .cart_tf .tf_right > div:nth-child(3) {
  height: 70px;
  width: 140px;
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  line-height: 70px;
}

/*# sourceMappingURL=petcart.css.map */
